html{
	height: 100%;
}

body{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

#clock-controls{
	position: relative;
	left: -50%;
}

#clock{
	text-align:center;
	vertical-align: middle;
	width:100%;
	height: 40%;
	font-size: 84px;
}

#countdown {
	
}

#pause-play-button {
	
}

#tab-box{
	width:60%;
	min-width: 800px;
}

.tab{
	min-width: 24%;
	display:inline-block;
}

#info-box{
	display: inline-block;
	text-align: left;
	border: 2px solid black;
	border-radius: 30px;
	background-color: #555;
	height: 30%;
	min-height: 200px;
	width: 60%;
	min-width: 800px;
	padding: 10px;
	font-size: 18px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li{
	margin: 5px 0;
}
